<%= form_with model: @article, local: true do |form| %>
  <% if @article and @article.errors.any? %>
    <div>
      <h2 class="subtitle">
        <%= pluralize @article.errors, 'error' %> prevented this article from being saved:
      </h2>
      <% @article.errors.each do |msg| %>
        <div class="notification is-danger">
          <button class="delete" />
          <%= msg %>
        </div>
      <% end %>
    </div>
  <% end %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title, class: "input"%>
  </p>
  <p>
    <%= form.label :text %> <br/>
    <%= form.text_area :text, class: "textarea" %>
  </p><br/>
  <p><%= form.submit class: "button is-primary" %></p>
<% end %>
