<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# "flash" session messages presented as dismissable bulma notifications %>
    <% if flash[:alert] %>
      <div class="notification is-danger flash-message" style="position: absolute">
        <div class="delete" ></div>
        <%= flash.alert %>
      </div>
    <% end %>
    <% if flash[:notice] %>
      <div class="notification is-info flash-message" style="position: absolute">
        <div class="delete" ></div>
        <%= flash.notice %>
      </div>
    <% end %>

    <div class="navbar is-fixed-top is-dark">
      <div class="navbar-brand">
        <a href="/" class="navbar-item">Getting Started with Rails</a>
        <div class="navbar-burger burger" id="main-burger">
          <%# the burger has to have three spans inside to in order to actually 
          make the burger icon, since bulma is pure-css and doesn't use any JS.
          ¯\_(ツ)_/¯  %>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="navbar-menu" id="main-navbar">
        <div class="navbar-start">
          <%= link_to 'The blog', articles_path, class: "navbar-item"%>
          <a href="https://github.com/dscottboggs/" target="_blank" class="navbar-item">My Github</a>
        </div>
        <div class="navbar-end">
          <%= render partial: "sign_in" %>
        </div>
      </div>
    </div>
    <section class="section">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <%= yield %>
        </div>
      </div>
    </section>
  </body>
</html>
